@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* TODO : Check if this is needed (it split to "2 colonnes" when large screen, but only left is used)
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

/* Custom CSS */

.mw-100 {
  max-width: 100%;
}

.normal-btn-size {
  height: 3em;
}

.confirm-border-attention {
  border: 2px solid red;
}

.confirm-border-information {
  border: 2px solid blue;
}

.border-info {
  border: 1px solid black;
}

/* Put this class to the container div of a q-image */
.icon-size-pokedex {
  /*
   There is a bug with q-img sized too small, lower than 0.6em make it have a "top margin issue"
   Normaly should be fixed like said here : https://github.com/quasarframework/quasar/issues/13598
   But still appear in 2.11.7
   */
  width: 0.65em
}

/* Put this class to the container div of a q-image */
.image-size-pokedex {
  width:100px;
  height:100px;
}

/* Put this class to the container div of a q-image */
.image-size-daycare {
  width:50px;
  height:50px;
}

.image-max-size-parent {
  max-width: 100%;
  max-height: 100%;
}

.hover-image:hover
{
  cursor: pointer;
}

.hover-image:not(:hover)
{
  cursor: default;
}

.money
{
  color: green;
  text-align:right;
}