@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* TODO : Check if this is needed (it split to "2 colonnes" when large screen, but only left is used)
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

/* Custom CSS */

.mw-100 {
  max-width: 100%;
}

.normal-btn-size {
  height: 3em;
}

.confirm-border-attention {
  border: 2px solid red;
}

.confirm-border-information {
  border: 2px solid blue;
}

.border-info {
  border: 1px solid black;
}